$breakpoint-mobile: 768px;
$width-mobile: 296px;
$clip-height: 50px;
$width: 148px;
$height: 236px;

.Card {
  @media (min-width: $breakpoint-mobile) {
    display: inline-block;
    width: $width;
    height: $height;
  }

  width: $width-mobile;
  height: $clip-height;
  position: relative;

  &__image {
    width: $width-mobile;
    position: absolute;
    clip: rect(0px, $width-mobile, $clip-height, 0px);

    @media (min-width: $breakpoint-mobile) {
      width: $width;
      height: $height;
      clip: rect(0px, $width, $height, 0px);
    }
  }
}
