$breakpoint-mobile: 768px;
$card-width: 150px;

.CardList {
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-mobile) {
    display: grid;
    grid-template-columns: repeat(5, $card-width);
    grid-template-rows: auto auto;
  }
}
