$breakpoint-mobile: 768px;

.Card {
  max-height: 50px;

  @media (min-width: $breakpoint-mobile) {
    display: inline-block;
    max-height: 473px;
  }

  &__image {
    width: 296px;

    @media (min-width: $breakpoint-mobile) {
      width: 100px;
    }
  }
}
